@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:ital,wght@0,100;0,900;1,900&family=Salsa&family=Shantell+Sans&display=swap');
body{
    
    /* background-color: rgb(91, 156, 241); */
    color: rgb(0, 0, 0);
}
.navbar{
    
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.navbar-logo{
    display: flex;
    margin-left: 12%;
    align-items: center;
    font-size: larger;
}
.navbar-logo h3{
    
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}
.navbar-options li{
    
    justify-content: center;
    font-size: larger;
    display: flex;
    margin-right: 25px;
}
.navbar-options-list{
    text-decoration: none;
    margin-top: 5%;
    text-align: center;
    display: flex;   
}
.nav-link{
    font-size: larger;
    text-decoration: none;
}
.navbar-options a{
    
    color: rgb(0, 0, 0); 
}
.navbar-options-list button{
    align-items: center;
    margin-right: 20px;
    border-color: white;
    font-style: bold;
    color: white;
    font-size: larger;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    background-image: linear-gradient(to right,rgb(107, 204, 245), rgb(24, 45, 232));
    
}
.WebLogo{

    justify-content: space-between;
    width: 15%;
    height: auto;
}

@media screen and (max-width :768px) {
        .navbar{
            position: relative;
            width: 80%;
            height: auto;
            border-radius: 1rem;
            top: 6rem;left: 50%;
            z-index: 2000;
            transform: translate(-50%);
            flex-direction: column;
        }
        .navbar-options-list{
            flex-direction: column;
        }
        .navbar-options-list  button
        {
            background-color: red;
        }
}